@use 'partials/_global.acss';

.menu1 {
  &_title-background {
    @include flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    background: {
      image: url('../Assets/Images/coffee-circle.jpg');
      size: cover;
      repeat: no-repeat;
      position: center center;
    }
  }
  &_border {
    position: absolute;
    width: 40vh;
    height: 24vh;
    border: 7px $Nitro-Blue solid;
    z-index: 3;
  }
  &_border h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    font: {
      size: 8vh;
      weight: lighter;
    }
    color: white;
    margin: 0 auto;
  }
  &_title-box {
    position: relative;
    top: 22px;
    left: 22px;
    width: 41vh;
    height: 25vh;
    background-color: #393939;
  }

  &_list-container {
    @include flex;
    width: 100%;
    height: 8vh;
    background-color: #393939;
    align-items: center;
  }
  &_list {
    width: 63vh;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
  }
  &_a {
    padding: 0.21vh 1.2vh 0.21vh 3.5vh;
    border-left: 5px solid $Nitro-Blue;
    font-size: 1.5em;
  }
  &_a:visited {
    color: white;
  }
}
//----------------------------------------------------
.menu2 {
  &_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &_detail-title {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 4vh;
    margin-top: 0;
  }
  &_detail-itemname {
    font-size: 2.5em;
    font-weight: 350;
    margin: 0 auto;
  }

  &_hot-drinks {
    background-color: $Nitro-Pink;
  }
  &_cold-drinks {
    background-color: #f7f7f7;
  }
  &_pastries {
    background-color: $Nitro-Pink;
  }
  &_hot-drinks,
  &_cold-drinks,
  &_pastries {
    text-align: center;
    flex-grow: 1;
    padding: 2.1vh;
  }
  &_description {
    width: 100%;
    font-size: 1.3em;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 0;
  }
  &_price {
    text-align: center;
    font-size: 1.3em;
    color: $Nitro-Blue;
    margin-top: 0;
    margin-bottom: 4vh;
  }
}
