$Nitro-Pink: #fff0ed;
$Nitro-Blue: #5bacc3;

//=====================================================
body {
  font-family: 'Open Sans';
  font-weight: normal;
  width: 100%;
  margin: 0;
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style-type: none;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 13vh;
  background-color: $Nitro-Pink;
  .logo_img {
    width: 5.5vh;
    height: 5.5vh;
    margin-left: 3.5vh;
    margin-right: 0.4vh;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vh;
    font: {
      size: 3.5rem;
      weight: 300;
    }
  }
  &_menu-list {
    width: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 4vh;
    font: {
      size: 2.5vh;
      weight: 500;
    }
  }
  &_menu-wrap {
    margin-right: 5vh;
  }
  &_menu-shop-now {
    color: $Nitro-Blue;
  }
}
